*{
  //  height: 100%;
    background-color: #000;
 //   min-height: 100vh;
}

.puente2{
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(../../assets/puente2.JPG);
    background-size: cover;
}
.puente{
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(../../assets/puente.JPG);
    background-size: cover;
}




